

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 78, 78);
    
}

#app {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto auto 1fr;
    height: 100vh;
    width: 100%;
}

header {
    grid-column: span 2;
    font-size: 2rem;
    padding: 10px;
    text-align: center;
}

.hamburger-menu {
    grid-row: span 3;
    background-color: lightblue; 
    padding: 5px;
}

.search-bar {
    display: grid;
    background-color: lightgreen; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

#search {
    border-radius: 8px;
    max-width: 700px;
}

.nav-link {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-bottom: 2rem;
}

.nav-link:hover {
    background-color: lightcoral;
}

.gif-gallery {
    display: flex;
    gap: 5px;
    margin: 4px 4px 0 4px ;
}

/* .col {
    display: flex;
    flex-direction: column;
    gap: 5px;
} */

.gif img {
    width: 251px;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 0px;
}

.categories {
    border-bottom: 1px solid black;
    padding: 0 10px 5px 10px;
}

.categories > button {
    font-size: 17px;
}



#about-view {

    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


#about-view .heading-about {
    font-size: 2.5em;
    color: #4CAF50;
    text-align: center;
    margin-bottom: 20px;
}

#about-view p {
    font-size: 1.2em;
    line-height: 1.6;
}


#about-view h2 {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    margin-top: 30px;
}